:host {
    padding: 32px;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    @media (max-width: 850px) {
        min-width: unset;
    }
}

code {
    margin-bottom: 16px;
}

.logging-container {
    height: 250px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}