:host {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    padding: 32px;
    height: calc(100vh - 128px);
    flex-direction: column;
}

mat-card {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}