<mat-toolbar>
    <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
    <span>Chicken Coin</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>monetization_on</mat-icon>
  </button>

</mat-toolbar>



<div class="layout-main">
    <app-section-blocks class="layout-left"></app-section-blocks>

    <div class="layout-right">
        <app-section-create-transaction></app-section-create-transaction>

        <div class="layout-right-bottom">
            <app-section-last-transactions></app-section-last-transactions>

            <app-section-data></app-section-data>

            <app-section-log></app-section-log>
        </div>
    </div>
</div>