mat-toolbar {
    background-color: #1a2336;
}

.layout-main {
    display: flex;
    @media (max-width: 1450px) {
        flex-direction: column-reverse;
        app-section-blocks {
            height: unset !important;
        }
    }
}

.layout-left {
    min-width: 25%;
}

.layout-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.layout-right-bottom {
    display: flex;
    flex: 1;
    @media (max-width: 850px) {
        flex-direction: column;
    }
}