:host {
    display: flex;
    padding: 32px;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.first-row {
    @media (max-width: 850px) {
        flex-direction: column;
        mat-form-field {
            width: 100%;
        }
    }
    margin-bottom: 16px;
}

.second-row {
    align-items: center;
    @media (max-width: 850px) {
        flex-direction: column;
        mat-form-field,
        button {
            width: 100%;
        }
        button {
            height: 48px;
        }
    }
}

.who {
    margin-right: 32px;
}

mat-form-field,
button {
    width: 45%;
}

button {
    height: 48px;
}